.Rproj.user
.Rhistory
.RData
.Ruserdata
with-r/_site/*.*
with-r/_site/data_summary_files/figure-html/unnamed-chunk-3-1.png
with-r/_site/probability_distribution_files/figure-html/unnamed-chunk-10-1.png
with-r/_site/probability_distribution_files/figure-html/unnamed-chunk-5-1.png
with-r/_site/probability_distribution_files/figure-html/unnamed-chunk-9-1.png
with-r/_site/report_files/figure-html/unnamed-chunk-1-1.png
with-r/_site/report_files/figure-html/unnamed-chunk-1-2.png
with-r/_site/site_libs/bootstrap-3.3.5/css/bootstrap-theme.css
with-r/_site/site_libs/bootstrap-3.3.5/css/bootstrap-theme.css.map
with-r/_site/site_libs/bootstrap-3.3.5/css/bootstrap-theme.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/bootstrap.css
with-r/_site/site_libs/bootstrap-3.3.5/css/bootstrap.css.map
with-r/_site/site_libs/bootstrap-3.3.5/css/bootstrap.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/cerulean.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/cosmo.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/darkly.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/flatly.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/Lato.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/LatoBold.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/LatoItalic.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/NewsCycle.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/NewsCycleBold.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/OpenSans.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/OpenSansBold.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/OpenSansBoldItalic.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/OpenSansItalic.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/OpenSansLight.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/OpenSansLightItalic.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/Raleway.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/RalewayBold.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/Roboto.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/RobotoBold.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/RobotoLight.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/RobotoMedium.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/SourceSansPro.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/SourceSansProBold.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/SourceSansProItalic.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/SourceSansProLight.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/fonts/Ubuntu.ttf
with-r/_site/site_libs/bootstrap-3.3.5/css/journal.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/lumen.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/paper.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/readable.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/sandstone.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/simplex.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/spacelab.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/united.min.css
with-r/_site/site_libs/bootstrap-3.3.5/css/yeti.min.css
with-r/_site/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.eot
with-r/_site/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.svg
with-r/_site/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.ttf
with-r/_site/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff
with-r/_site/site_libs/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff2
with-r/_site/site_libs/bootstrap-3.3.5/js/bootstrap.js
with-r/_site/site_libs/bootstrap-3.3.5/js/bootstrap.min.js
with-r/_site/site_libs/bootstrap-3.3.5/js/npm.js
with-r/_site/site_libs/bootstrap-3.3.5/shim/html5shiv.min.js
with-r/_site/site_libs/bootstrap-3.3.5/shim/respond.min.js
with-r/_site/site_libs/header-attrs-2.13/header-attrs.js
with-r/_site/site_libs/highlightjs-9.12.0/default.css
with-r/_site/site_libs/highlightjs-9.12.0/highlight.js
with-r/_site/site_libs/highlightjs-9.12.0/textmate.css
with-r/_site/site_libs/jquery-3.6.0/jquery-3.6.0.js
with-r/_site/site_libs/jquery-3.6.0/jquery-3.6.0.min.js
with-r/_site/site_libs/jquery-3.6.0/jquery-3.6.0.min.map
with-r/_site/site_libs/navigation-1.1/codefolding.js
with-r/_site/site_libs/navigation-1.1/sourceembed.js
with-r/_site/site_libs/navigation-1.1/tabsets.js
